.popupGHS:hover > img.popmostrar  {
  visibility: visible;
  opacity: 1;
  display: block;
}
.popupCP:hover > img.popmostrar  {
  visibility: visible;
  opacity: 1;
  display: block;
}
.popupMX:hover > img.popmostrar  {
  visibility: visible;
  opacity: 1;
  display: block;
}

#popup-salvador,#popup-costa-rica {
  width: 769px;
  height: 493px;
  background: white;    
  border-radius: 16px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
#popup-honduras {
  width: 931px;
  height: 517px;
  background: white;    
  border-radius: 16px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-dominicana {
  width: 769px;
  height: 449px;
  background: white;    
  border-radius: 16px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-panama {
  width: 1088px;
  height: 616px;
  background: white;    
  border-radius: 16px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-mexico {
  width: 769px;
  height: 449px;
  background: white;    
  border-radius: 16px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-honduras.show
#popup-salvador.show,
#popup-costa-rica.show
#popup-dominicana.show
{
  display: flex;

}

/* #popup-honduras.show .fondo-popup,
#popup-salvador.show .fondo-popup,
#popup-costa-rica.show .fondo-popup,
#popup-dominicana.show .fondo-popup
#popup-mexico.show .fondo-popup
#popup-panama.show .fondo-popup {
  background: #000000b5;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#popup-honduras.show .popup-container,
#popup-salvador.show .popup-container,
#popup-costa-rica.show .popup-container,
#popup-dominicana.show .popup-container
#popup-mexico.show .popup-container
#popup-panama.show .popup-container {
  z-index: 1;
} */



.detalle-noticia{
  transition: all 0.5s ease-in-out;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.footer .noticia:hover .detalle-noticia{
  display: block;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: -10rem;
}


#seccion6 .footer .audio-player {
  top: -3rem;
}

.tippy-box {
  width: 100%;
  max-width: 600px !important;
  background-color: #fce8bb;
  color: black;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .accordeon-banderas .contenidos-paises > .col-span-12 > img {
    max-width: 60px;
  }
  .accordeon-banderas .contenidos-paises > .col-span-12 {
    gap: 1rem !important;
    grid-column: span 9 / span 12 !important;
  }
  .accordeon-banderas .contenidos-paises > .col-span-12 .title-normativ {
    font-size: 18px;
  }
  .accordeon-banderas .contenidos-paises > .col-span-12 .text-normativa a {
    font-size: 16px;
  }
  .accordeon-banderas .contenidos-paises > .col-span-12 .text-normativa p { 
    font-size: 16px;
  }
  .popupGHS:hover > img.popmostrar  {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
  }
  .popupCP:hover > img.popmostrar  {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
  }
  .popupMX:hover > img.popmostrar  {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
  }

  .tics-uso-identificar .popup {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tics-uso-identificar .popup .popup-container {
    width: 90%;
  }
  .tics-uso-identificar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tics-uso-identificar > div {
    margin-bottom: 1rem;
    height: auto;
  }
  .tics-uso-identificar > div > div {
    font-size: 1.2rem;
  }

  .tippy-box {
    width: 100%;
    max-width: 300px !important;
    background-color: #fce8bb;
    color: black;
    padding: 1rem;
  }
}