.banner-principal {
    background: url(/src/components/sections/section2/assets/fondo1.webp) #d3d3d300 0px -100.659px / 100% 118.533% no-repeat;
    min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .banner-principal {
    background-size: cover;
    background-position: center;
  }
}

.degradado-banner {
  background: linear-gradient(90deg, #0000008f 10%, transparent 90.5%);
}

.card-image {
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.card-image > img {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  display: block;
}

.texto-estructura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
  color: white;
  text-align: center;
  padding: 1rem;
  /* transform: rotateY(180deg); */
  backface-visibility: hidden;
  transition: opacity 0.6s;
}

.card-image:hover img,
.card-image.clicked img {
  transform: rotateY(180deg);
}

.card-image:hover .texto-estructura,
.card-image.clicked .texto-estructura {
  opacity: 1;
}

.costos-asociados {
  text-align: left;
}

.parte-clara {
  background: url(/texturas/Textura2.webp);
}
.parte-oscura {
  background: url(/src/components/sections/section2/assets/textura-sliders.webp);
  background-position: center;
  background-size: contain;
}
#slideContainer {
  /* background: url(/src/components/sections/section2/assets/textura2-2.webp); */
  background: url(/texturas/Textura1.webp);
  /* background-size: contain; */
  background-attachment: fixed;
}
.overlay {
  position: absolute; /* posición absoluta */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* overlay blanco con opacidad */
}

/* .seccion-slider {
  background: url(/src/components/sections/section2/assets/lineas-slider.svg) no-repeat;
  background-position: center;
  background-size: cover;
} */

.spanfondo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 3px;
}

.seccion2-acordeon2-modos .accordion__content {
  padding: 0 !important;
}

.section-acordeon .accordion__button {
  background: #333;
  font-family: 'Formula';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  color: var(--Naranjas-Naranja3, #E06900);
  padding-top: 1.4rem;
  padding-left: 24px;
}

.section-acordeon .accordion__content {
  border-bottom: 1px solid var(--Blanco, #F6F4F3);
  background: var(--Blanco, #F6F4F3);
  padding: 1.5rem;
}

.section-acordeon .accordion {
  transition: background 0.6s ease;
  border: unset;
  padding-bottom: 3rem;
}

.section-acordeon .accordion.active .accordion__button {
  background: #F6F4F3;
}

#popup-rutasAereasExtracontinentales {
  background: #D6EDFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 4px solid var(--Amarillo, #F6AE2D);
  background: var(--Amarillos-Amarillo3, #FFEABB);
  display: flex;
  max-width: 522px;
  justify-content: center;
  align-items: center;

}
.info-content .content {
  padding: 1.2rem;
}

.cuadro-amarillo .cuadro {
    background: url(/src/components/sections/section1/assets/fondo-cuadros.webp) #FFEABB no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
}

@media screen and (max-width:1024px) {
  .section-acordeon .accordion__button {
    background: #333;
    font-family: 'Formula';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    color: var(--Naranjas-Naranja3, #E06900);
    padding-top: 1.4rem;
    padding-left: 24px;
  }
  .cuadro-amarillo .cuadro {
    font-size: 1rem !important;
  }
  #popup-derecha .cerrar-popup {
    right: 11%;
  }
  #popup-derecha .cerrar-popup svg {
    max-width: 30px;
    max-height: 30px;
  }
  #popup-derecha #inforcontenidoPopup{
    max-width: 100%;
    width: 100%;
  }
  #popup-derecha #inforcontenidoPopup .content {
    font-size: 13px;
    padding: 0.7rem;
  }

  #seccion2MapaRutas .info-content {
    max-width: 90%;
    width: 100%;
  }
  #seccion2MapaRutas #info-mapa .content {
    font-size: 13px;
    padding: 0.7rem;
  }

  #popup-izquierda #cerrar-popups svg {
    max-width: 30px;
    max-height: 30px;
  }
}