.banner-principal {
    background: url(/src/components/sections/section2/assets/fondo1.webp) #d3d3d300 0px -100.659px / 100% 118.533% no-repeat;
    min-height: 100vh;
}

.degradado-banner {
  background: linear-gradient(90deg, #0000008f 10%, transparent 90.5%);
}

.card-image {
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.card-image > img {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  display: block;
}

.texto-estructura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
  color: white;
  text-align: center;
  padding: 1rem;
  /* transform: rotateY(180deg); */
  backface-visibility: hidden;
  transition: opacity 0.6s;
}

.card-image:hover img,
.card-image.clicked img {
  transform: rotateY(180deg);
}

.card-image:hover .texto-estructura,
.card-image.clicked .texto-estructura {
  opacity: 1;
}

.costos-asociados {
  text-align: left;
}

.parte-clara {
  background: url(/src/components/sections/section2/assets/textura-sliders.webp);
  background-position: center;
  background-size: contain;
}
.parte-oscura {
  background: url(/src/components/sections/section2/assets/textura-sliders.webp);
  background-position: center;
  background-size: contain;
}
#slideContainer {
  background: url(/src/components/sections/section2/assets/textura-sliders.webp);
  background-size: contain;
}
.overlay {
  position: absolute; /* posición absoluta */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* overlay blanco con opacidad */
}

/* .seccion-slider {
  background: url(/src/components/sections/section2/assets/lineas-slider.svg) no-repeat;
  background-position: center;
  background-size: cover;
} */

.spanfondo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 3px;
}

.section-acordeon .accordion__button {
  background: #333;
  font-family: 'Formula';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  color: var(--Naranjas-Naranja3, #E06900);
  padding-top: 1.4rem;
  padding-left: 24px;
}

.section-acordeon .accordion__content {
  border-bottom: 1px solid var(--Blanco, #F6F4F3);
  background: var(--Blanco, #F6F4F3);
  padding: 1.5rem;
}

.section-acordeon .accordion {
  transition: baackground 0.6s ease;
  border: unset;
}

.section-acordeon .accordion.active .accordion__button {
  background: #F6F4F3;
}