.title-popup {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
  color: #FFF;
  font-family: 'Inika';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bg-position-y-12 {
  background-position-y: 12px;
}

.acordeon-riesgos .accordion.group {
  margin-bottom: 2rem;
  border: 1px solid #F6F4F3;
}

.acordeon-riesgos .accordion__content{
  background: #F6F4F3;
}

.acordeon-riesgos .accordion__button {
  background: #F6F4F3;
  font-size: 40px;
  font-weight: 700;
  font-family: "Formula";
  color: var(--Naranjas-Naranja2, #B85600);
  padding-bottom: 0;
  border: 1px solid #F6F4F3;
  letter-spacing: 0.96px;
}

.gif-tics {
  top: 0;
  max-width: 41%;
  left: 33%;
}

.explorar-imagenes .cuadros-poblaciones {
  transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  width: 25%;
}
.explorar-imagenes .cuadros-poblaciones:hover {
  /* transition: all 0.3s ease-in-out; */
  width: 560px;
  flex-shrink: 0; 
  transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.explorar-imagenes .imagen-cuadro {
  position: relative;
  width: 100%;
  height: 512px;
  cursor: pointer;
  transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.explorar-imagenes .imagen-cuadro h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
  font-family: 'Inika';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 1.2s ease-in-out;
  opacity: 0;
}
.explorar-imagenes .cuadros-poblaciones:hover  h1 {
  opacity: 1;
}

.explorar-imagenes .imagen-cuadro > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.7;
}

.explorar-imagenes .cuadros-poblaciones:hover .imagen-cuadro > img {
  opacity: 1;
}
.explorar-imagenes .cuadros-poblaciones .titulo-imagen {
  display: none;
  transition: all 1.2s ease-in-out;
}
.explorar-imagenes .cuadros-poblaciones:hover .titulo-imagen {
  display: flex;
}

#info-voces .info-content {
  max-width: 900px;
  top: -50%;
}

#info-voces .info-content .content {
  text-align: left;
}

#info-riesgos .info-content {
  border: 4px solid var(--Amarillo, #E06900) !important;
  background: #FFC999 !important;
}

@media screen and (max-width:1024px){
  #pinslider {
    width: 100%;
    height: auto; /* Use 100vh for full viewport height */
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
  }
  .slider-contenedor {
    width: 100%; /* to contain 4 panels, each with 100% of window width */
    height: auto;
  }
  .slider-seccion {
    height: auto;
    width: 100%; /* relative to parent -> 50% of 200% = 100% of window width */
    float: unset;
    margin-top: 4rem;
  }

  .slider-seccion h1 { 
    font-size: 22px;
  }
  .titulo-principales-riesgos {
    font-size: 22px;
  }

  .cuadro-riesgos p {
    font-size: 1rem;
    padding-left: 2rem;
  }
  #seccion4 .accordion__button{
    font-size: 20px;
  }
}