---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/inter';
import '@fontsource/inika/400.css';
import '@fontsource/inika/700.css';
import '../pages/styleglobals.css'
import Seccion1 from '../components/sections/section1/section1.astro'
import Seccion2 from '../components/sections/section2/section2.astro'


---

<Layout title="Voces y datos del Tráfico Ilícito de Migrantes">
	<main>
		<Seccion1 />
		<Seccion2 />
	</main>
</Layout>
