---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/inter';
import '@fontsource/inika/400.css';
import '@fontsource/inika/700.css';
// import '@pages/styleglobals.css'
import Seccion1 from '../components/sections/section1/section1.astro'
import Seccion2 from '../components/sections/section2/section2.astro'
import Seccion3 from '../components/sections/section3/section3.astro'
import Seccion4 from '../components/sections/section4/Section4.astro'
import Seccion5 from '../components/sections/section5/Section5.astro'
import Seccion6 from '../components/sections/section6/Section6.astro'
import Seccion7 from '../components/sections/section7/Section7.astro'

---

<Layout title="Voces y datos del Tráfico Ilícito de Migrantes">
	<main>
		<Seccion1 />
		<Seccion2 />
		<Seccion3 />
		<Seccion4 /> 
		<Seccion5 />
		<Seccion6 />
		<Seccion7 />
	</main>
</Layout>


<style is:global >
		@font-face {
		font-family: 'Formula';
		src: url('/fonts/FormulaCondensed-Bold.woff') format('woff');
		font-weight: bold;
		font-style:normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Formula';
		src: url('/fonts/FormulaCondensed-Light.woff') format('woff');
		font-weight:400;
		font-style:normal;
		font-display: swap;
	}

	.azul {
		color: #014979;
	}
	.background-azul {
		background: #014979;
	}
	.background-gris3 {
		background: #D9D9D9;
	}
	.azul3 {
		color: #1870A0;
	}
	.azul4 {
		color: #25A7EF;
	} 
	.background-azul4 {
		background: #25A7EF;
	}
	.azul6 {
		color: #D6EDFF;
	}
	.azulclaro {
		color: #80CFFF;
	}

	.blanco {
		color: #F6F4F3;
	}
	.background-blanco {
		background: #F6F4F3;
	}
	.naranja2 {
		color: #B85600;
	}
	.naranja4 {
		color: #FFA85C;
	}
	.naranja3 {
		color: #E06900;
	}
	.naranja {
		color: #FF7F11;
	}
	.gris {
		color: #1F1F1F;
	}
</style>