@font-face {
  font-family: 'Formula';
  src: url('/fonts/FormulaCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style:normal;
  font-display: swap;
}

.azul {
  color: #014979;
}
.background-azul {
  background: #014979;
}
.background-gris3 {
  background: #D9D9D9;
}
.azul3 {
  color: #1870A0;
}
.azul4 {
  color: #25A7EF;
}
.background-azul4 {
  background: #25A7EF;
}
.azul6 {
  color: #D6EDFF;
}
.azulclaro {
  color: #80CFFF;
}

.blanco {
  color: #F6F4F3;
}
.background-blanco {
  background: #F6F4F3;
}
.naranja4 {
  color: #FFA85C;
}
.naranja3 {
  color: #E06900;
}