---
interface Props {
	title: string;
}


const { title } = Astro.props;
import "aos/dist/aos.css"; // AOS styles

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Voces y datos del TRÁFICO ILÍCITO DE MIGRANTES" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" is:inline></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" is:inline></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" is:inline></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" is:inline></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" is:inline></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js" is:inline></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js" is:inline></script>
		<script src="/js/audioPlayer.js" is:inline defer></script>
	</head>
	<body class="overflow-x-hidden">
		<slot />
		<script is:inline src="/js/script.js"></script>
		<script is:inline src="/js/section4.js"></script>
		<script is:inline src="/js/section5.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Inter Variable', sans-serif;
	}
</style>
